/* Base styles for all screen sizes */
.nav {
  z-index: 1000;
  padding: 1vmax;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(43, 43, 43, 0.137);
}



#logoImage {
  transition: all 0.2s;
  transform: translateX(-100%);
}

#logoImage:hover {
  transform: translateX(0);
}

.navlinks {
  color: white;
  text-decoration: none;
  margin: 1vmax 1.2vmax;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5vmax;
}

.navlinks:hover {
  color: salmon;
}

.searchbox {
  position: relative;
  left: 5vmax;
}

.searchbox > input {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.76);
  width: 10vw; /* Updated: Use viewport width */
  font-size: 1.4vw; /* Updated: Use viewport width */
  outline: none;
  color: rgb(61, 61, 61);
}

.searchbox > svg {
  fill: rgb(234, 219, 219);
}

/* Media queries for responsiveness */

/* For screens with a maximum width of 768 pixels (e.g., mobile devices) */
@media (max-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: flex-start;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 1vmax;
  }

  .searchbox {
    position: relative;
    left: 0;
    margin-top: 2vmax;
  }
}
